*~
.DS_Store
*.blend1

htdocs/doc/output/
htdocs/wp/.htaccess
htdocs/wp/wp-config-production.php
htdocs/vrml_engine_doc/output/
htdocs/vrml_engine_doc/*.tar.gz
htdocs/apidoc/html/
htdocs/apidoc/*.tar.gz
htdocs/apidoc-unstable/html/
htdocs/apidoc-unstable/*.tar.gz
htdocs/compositing_shaders_doc/html/
htdocs/compositing_shaders_doc/*.pdf
htdocs/compositing_shaders_doc/*.fo
htdocs/wp/wp-content/uploads/
htdocs/wp/jetpack-temp/
htdocs/castle_engine_config.php
htdocs/cge-delphi-beta.zip
blaise-pascal-article/
