body { background: white; font-family: sans-serif; }

dt { font-weight: bold; }
div.page_footer { }
span.page_copyright { font-size: smaller }

span.version_number { font-size: small }

div.quick_links_bottom_line { text-align: <?php
  echo (IS_GEN_LOCAL ? 'left' : 'center' ) ?>; }

.rss_link {
  float: right;
  background: red;
  padding: 0.3em;
  border: thin outset black;
}

.rss_link a {
  color: white;
  font-weight: bold
}
