body { background: white; font-family: sans-serif; }

table.key_list { width: 90%; }
table.key_list th { background: #eeeee0; }
table.key_list td { background: #ddddd0; }

dt { font-weight: bold; }
div.page_footer { }
span.page_copyright { font-size: smaller }

span.version_number { font-size: small }

/* Adapted from my pasdoc.css */
table.thin_borders { border-collapse: collapse; }
table.thin_borders td { border: 1pt solid lightgray; padding: 0.3em; }
table.thin_borders th { border: 1pt solid lightgray; padding: 0.3em; }

dl.command_line_options_list > dt {
  font-family: monospace;
  font-weight: bold;
}

/* Leave default font-family for dt, and default font-weight.
   Use span with command_line_option class inside dt. */
dl.command_line_options_list_custom > dt {
  font-weight: normal;
}
span.command_line_option {
  font-family: monospace;
  font-weight: bold;
}

div.quick_links_bottom_line { text-align: <?php
  echo (IS_GEN_LOCAL ? 'left' : 'center' ) ?>; }

div.latest_update_description {
  margin-left: 3em;
  border: 1px solid gray;
  padding: 0.5em;
}

pre.vrml_code {
  border: 1px solid #aaaaaa;
  background-color: #f9f9f9;
  padding: 0.3em;
}

dl.vrml_ver_differences > dt {
  font-weight: normal;
  font-style: italic;
}

table.program_image_links {
  width: 100%;
}

table.program_image_links_half {
  width: 50%;
}

td.program_image_link img { border: none; }

td.program_image_link {
  background: #e8d59a;
  width: 50%;
  border: 1px solid black;
  text-align: center;
  padding: 0.5em;
}

.program_image_link_title { font-size: larger; }

.rss_link {
  float: right;
  background: red;
  padding: 0.3em;
  border: thin outset black;
}

.rss_link a {
  color: white;
  font-weight: bold
}
