# -*- mode: conf-unix -*-
# rewrites -------------------------------------------------------------------

RewriteEngine On

# Redirect www domain to non-www
# See https://www.digitalocean.com/community/tutorials/how-to-redirect-www-to-non-www-with-apache-on-ubuntu-14-04
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# Rewrite to use doc.php=xxx for names not refering to any existing file (in particular, not refering to PHP files).
# Based on Wordpress rewrite rule, see also https://httpd.apache.org/docs/current/mod/mod_rewrite.html
#
# This assumes that CGE website is in the root, like https://castle-engine.io/ or http://localhost:8777/ .
# If you place CGE website in non-root, e,g, in http://localhost/~michalis/castle-engine/ ,
# you will have to adjust it, like
#   RewriteBase /~michalis/castle-engine/
#
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Never redirect PHP files. In principle, it should not be needed -- if the name
# is existing PHP file, then above rules should reject it anyway.
# But what if it's PHP that should be redirected? Then both rewrite and redirect would proces it, making
#   https://castle-engine.io/engine.php
# ->
#   https://castle-engine.io/index.php?page=/engine.php
# instead of
#   https://castle-engine.io/index.php
# While it works, the "index.php?page=/engine.php" looks weird and indeed `page` parameter there doesn't make sense.
#
# TODO: This is not a best solution.
# The solution should not be PHP-specific.
# E.g.
#   Redirect "/abbreviated_x3d_specs_for_users.chm" "/vrml_x3d.php"
# or future redirects from AsciiDoctor -> AsciiDoctor will suffer from the same problem.
# What we really want: if one of Redirect rules match, then RewriteRule should not be done.
RewriteCond %{REQUEST_FILENAME} !.php$

RewriteRule . doc.php?page=%{REQUEST_URI} [L]

# redirects ------------------------------------------------------------------

# These redirects assume that CGE website is in web server root,
# like https://castle-engine.io/ or http://localhost:8777/ .

# Old things, redirect to closest new things.
# Sorted list.
Redirect "/abbreviated_x3d_specs_for_users.chm" "/vrml_x3d.php"
Redirect "/b.php" "https://github.com/castle-engine/cge-www/blob/master/htdocs/doc/obsolete/web3d_2020_browser_presentation.adoc"
Redirect "/bezier_curves.php" "/curves_tool"
Redirect "/blender.php" "/blender"
Redirect "/blender_stuff.php" "/blender"
Redirect "/cloud_builds_jenkins" "/jenkins"
Redirect "/changes_log.php" "/news.php"
Redirect "/changes_log_feed.php" "http://gplusrss.com/rss/feed/c3dd3cd5ec6725d92b8b5b0633b2daa852f29730ecc6b"
Redirect "/creating_data_3d.php" "/creating_data_export.php"
Redirect "/creating_data_blender.php" "/blender"
Redirect "/documentation.php" "/manual_install_run_first.php"
Redirect "/documentation_more.php" "/"
Redirect "/engine.php" "/index.php"
Redirect "/features.php" "/features"
Redirect "/fpc_and_lazarus.php" "/supported_compilers.php"
Redirect "/gen_funkcja.pl.php" "/glplotter.php"
Redirect "/glcaps.php" "/glinformation.php"
Redirect "/glinformation.php" "/index.php"
Redirect "/glplotter.pl.php" "/glplotter.php"
Redirect "/glplotter_and_gen_function.php" "/glplotter.php"
Redirect "/glviewimage.php" "/castle-view-image.php"
Redirect "/kambi_script.php" "/castle_script.php"
Redirect "/kambi_vrml_extensions.php" "/x3d_extensions.php"
Redirect "/kambi_vrml_extensions.txt" "/x3d_extensions.txt"
Redirect "/kambi_vrml_extensions_screen_effects.php" "/x3d_extensions_screen_effects.php"
Redirect "/kambi_vrml_extensions_shadow_maps.php" "/x3d_extensions_shadow_maps.php"
Redirect "/kambi_vrml_extensions_vrml1.php" "/x3d_extensions_vrml1.php"
Redirect "/kambi_vrml_game_engine.php" "/engine.php"
Redirect "/kambi_vrml_test_suite.php" "/demo_models.php"
Redirect "/kambiscript_language.chm" "/castle_script.php"
Redirect "/kanim_format.php" "/castle_animation_frames.php"
Redirect "/lets_take_a_walk.php" "https://github.com/castle-engine/castle-engine/tree/master/examples/audio/game_3d_sound"
Redirect "/license.php" "https://github.com/castle-engine/castle-engine/blob/master/COPYING.md"
Redirect "/macosx_requirements.php" "/macos"
Redirect "/manual_2d_user_interface.php" "/user_interface"
Redirect "/manual_classes_overview.php" "/apidoc-unstable/html/ClassHierarchy.html"
Redirect "/manual_gamma_correction.php" "/color_space"
Redirect "/manual_install_run_first.php" "/install"
Redirect "/manual_lazarus_control.php" "/control_on_form"
Redirect "/manual_lazarus_focus.php" "/control_on_form"
Redirect "/manual_load_3d.php" "/viewport_and_scenes"
Redirect "/manual_log.php" "/log"
Redirect "/manual_mobile.php" "/manual_cross_platform.php"
Redirect "/manual_physics.php" "/physics"
Redirect "/manual_quick_2d_game.php" "/manual_state_events.php"
Redirect "/manual_scene.php" "/viewport_and_scenes"
Redirect "/manual_screenshots.php" "/save_screen"
Redirect "/manual_user_interface_and_2d_drawing.php" "/user_interface"
Redirect "/manual_window.php" "/manual_install_run_first.php"
Redirect "/miscella/forest.tar.gz" "https://github.com/castle-engine/demo-models/tree/master/lights_materials/vrml_1/forest-fog"
Redirect "/miscella/win32_dlls.zip" "https://github.com/castle-engine/castle-engine/tree/master/tools/build-tool/data/external_libraries"
Redirect "/modern_pascal_introduction.html" "/modern_pascal"
Redirect "/openal.php" "/openal"
Redirect "/openal_notes.php" "/openal"
Redirect "/planned_features.php" "/roadmap"
Redirect "/sources.php" "/engine.php"
Redirect "/sources_docs.php" "/reference.php"
Redirect "/support.php" "/forum.php"
Redirect "/tutorial_2d_ui_custom_drawn.php" "/manual_2d_ui_custom_drawn.php"
Redirect "/tutorial_2d_user_interface.php" "/manual_2d_user_interface.php"
Redirect "/tutorial_castle_scene_transform.php" "/manual_scene.php"
Redirect "/tutorial_classes_overview.php" "/apidoc-unstable/html/ClassHierarchy.html"
Redirect "/tutorial_game_level.php" "/manual_game_level.php"
Redirect "/tutorial_high_level_3d_classes.php" "/manual_high_level_3d_classes.php"
Redirect "/tutorial_install.php" "/install"
Redirect "/tutorial_intro.php" "/manual_intro.php"
Redirect "/tutorial_key_mouse.php" "/manual_key_mouse.php"
Redirect "/tutorial_lazarus_focus.php" "/manual_lazarus_focus.php"
Redirect "/tutorial_load_3d.php" "/manual_load_3d.php"
Redirect "/tutorial_log.php" "/manual_log.php"
Redirect "/tutorial_miscellaneous.php" "/manual_miscellaneous.php"
Redirect "/tutorial_mobile.php" "/manual_cross_platform.php"
Redirect "/tutorial_network.php" "/manual_network.php"
Redirect "/tutorial_notifications.php" "/manual_notifications.php"
Redirect "/tutorial_on_screen_menu.php" "/manual_on_screen_menu.php"
Redirect "/tutorial_opengl_context.php" "/manual_window.php"
Redirect "/tutorial_optimization.php" "/manual_optimization.php"
Redirect "/tutorial_player.php" "/manual_player.php"
Redirect "/tutorial_player_2d_controls.php" "/manual_2d_ui_custom_drawn.php"
Redirect "/tutorial_quick_2d_game.php" "/manual_quick_2d_game.php"
Redirect "/tutorial_recording_movies.php" "/manual_recording_movies.php"
Redirect "/tutorial_resources.php" "/manual_resources.php"
Redirect "/tutorial_resources_extending.php" "/manual_resources_extending.php"
Redirect "/tutorial_resources_using_existing.php" "/manual_resources_using_existing.php"
Redirect "/tutorial_scene.php" "/manual_scene.php"
Redirect "/tutorial_screenshots.php" "/manual_screenshots.php"
Redirect "/tutorial_sound.php" "/manual_sound.php"
Redirect "/tutorial_text.php" "/manual_text.php"
Redirect "/tutorial_transformation_hierarchy.php" "/manual_transformation_hierarchy.php"
Redirect "/tutorial_up.php" "/manual_up.php"
Redirect "/tutorial_user_interface_and_2d_drawing.php" "/manual_user_interface_and_2d_drawing.php"
Redirect "/tutorial_user_prefs.php" "/manual_user_prefs.php"
Redirect "/tutorial_window.php" "/manual_window.php"
Redirect "/vrml_engine_doc.php" "/engine_doc.php"
Redirect "/vrml_implementation_cadgeometry.php" "/x3d_implementation_cadgeometry.php"
Redirect "/vrml_implementation_core.php" "/x3d_implementation_core.php"
Redirect "/vrml_implementation_cubemaptexturing.php" "/x3d_implementation_cubemaptexturing.php"
Redirect "/vrml_implementation_environmentaleffects.php" "/x3d_implementation_environmentaleffects.php"
Redirect "/vrml_implementation_environmentalsensor.php" "/x3d_implementation_environmentalsensor.php"
Redirect "/vrml_implementation_eventutilities.php" "/x3d_implementation_eventutilities.php"
Redirect "/vrml_implementation_geometry2d.php" "/x3d_implementation_geometry2d.php"
Redirect "/vrml_implementation_geometry3d.php" "/x3d_implementation_geometry3d.php"
Redirect "/vrml_implementation_grouping.php" "/x3d_implementation_grouping.php"
Redirect "/vrml_implementation_hanim.php" "/x3d_implementation_hanim.php"
Redirect "/vrml_implementation_interpolation.php" "/x3d_implementation_interpolation.php"
Redirect "/vrml_implementation_keydevicesensor.php" "/x3d_implementation_keydevicesensor.php"
Redirect "/vrml_implementation_lighting.php" "/x3d_implementation_lighting.php"
Redirect "/vrml_implementation_navigation.php" "/x3d_implementation_navigation.php"
Redirect "/vrml_implementation_networking.php" "/x3d_implementation_networking.php"
Redirect "/vrml_implementation_nurbs.php" "/x3d_implementation_nurbs.php"
Redirect "/vrml_implementation_pointingdevicesensor.php" "/x3d_implementation_pointingdevicesensor.php"
Redirect "/vrml_implementation_rendering.php" "/x3d_implementation_rendering.php"
Redirect "/vrml_implementation_scripting.php" "/x3d_implementation_scripting.php"
Redirect "/vrml_implementation_shaders.php" "/x3d_implementation_shaders.php"
Redirect "/vrml_implementation_shape.php" "/x3d_implementation_shape.php"
Redirect "/vrml_implementation_sound.php" "/x3d_implementation_sound.php"
Redirect "/vrml_implementation_status.php" "/x3d_implementation_status.php"
Redirect "/vrml_implementation_text.php" "/x3d_implementation_text.php"
Redirect "/vrml_implementation_texturing.php" "/x3d_implementation_texturing.php"
Redirect "/vrml_implementation_texturing3d.php" "/x3d_implementation_texturing3d.php"
Redirect "/vrml_implementation_time.php" "/x3d_implementation_time.php"
Redirect "/vrml_time_origin_considered_uncomfortable.php" "/x3d_time_origin_considered_uncomfortable.php"
Redirect "/apidoc-unstable/" "/apidoc/"

# This link is used at least by http://planetdev.freegamedev.net/ .
#
# Though we could notify them to change link to Wordpress, see
# http://forum.freegamedev.net/viewtopic.php?f=24&t=7209
# http://forum.freegamedev.net/viewtopic.php?f=24&t=24
# Actually, we could submit a pull request:
# https://github.com/FreeGameDev/planet-config
# https://github.com/FreeGameDev/planet-config/blob/master/fgdplanet-dev-feeds.ini
Redirect "/news_feed.php" "/wp/feed/"

# Redirect latest.zip to latest.zip.php (interpreted by PHP to redirect
# further, to a known latest version).
# See https://httpd.apache.org/docs/current/mod/mod_alias.html#redirect
Redirect "/latest.zip" "/latest.zip.php"

# Redirect kambi-php-lib, to keep PasDoc-generated docs accessing this working
# (in CGE release too, before we fixed https://github.com/castle-engine/castle-engine/issues/59 )
Redirect "/kambi-php-lib/" "/castle-engine-website-base/"

# Unknown who contains this invalid link,
# but our redirect seems stuck at this point,
# Google Search Console reports "redirect error" and indeed opening this
# in Firefox or wget causes redirect error.
Redirect "/engine.php/creating_data_intro.php" "/"

# PHP config -----------------------------------------------------------------

php_value upload_max_filesize 64M
php_value post_max_size 64M
