/* nav { display: none; } */

body { background: #111; color: #DDD; }
a { color: #AAF; }
a.screenshot img {
  border: 2pt solid #333;
}
div.download { background: #444; color: black; }

pre.terminal { background: #333; color: white; }
code { background: #333; color: white; }

h2 { color: #BBD; }

div.download { padding: 1.5em; }

.panel-footer {
  border-top: 1px solid #222;
  background: #333;
  color: white;
}