/* No body margins, we want our header and sidebar closely at window border.
   Instead use class "content" to add some nice padding between
   window border and actual text. */
body { margin: 0px; padding: 0px; }
.content { margin: 0px; padding: 0.4em; }

object.movie_thumbnail {
  width: 200px;
  height: 167px;
}

table.table_with_thumbs_and_text {
  background: #DDD;
  margin: 0.2em;
  padding: 0.2em;
  font-size: small;
}

table.table_with_movie_thumbnail {
  width: 210px;
}

pre.sourcecode {
  border: 1px solid #aaaaaa;
  background-color: #f9f9f9;
  padding: 0.3em;
  white-space: pre-wrap;
}

a.kscript_func_docs { text-decoration: underline; }

pre.terminal { background-color: #EEE;  padding: 0.3em; white-space: pre-wrap; }
tt.terminal { background-color: #EEE; }

span.js_link { text-decoration: underline; color: #00F; cursor: pointer; }

/* Style for note_box and note_title shamelessly stolen from CSS
   of the Subversion book. (from .sidebar and .sidebar .title) */
.note_box
{
    border-top: dotted 1px black;
    border-left: dotted 1px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    background: rgb(240,220,170);
    padding: 0 0.12in;
    margin: 0.5in;
}

.note_box .note_title {
  text-align: center;
  font-size: 125%;
}

.changes_log_toc {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.changes_log_toc a { text-decoration: none; }
.changes_log_toc a:hover { text-decoration: underline; }

/* Tables with key controls should be done with
   <table border="1" class="key_list"> */
table.key_list { width: 90%; }
table.key_list th { background: #eeeee0; }
table.key_list td { background: #ddddd0; }

/* Adapted from my pasdoc.css */
table.thin_borders { border-collapse: collapse; }
table.thin_borders td { border: 1pt solid lightgray; padding: 0.3em; }
table.thin_borders th { border: 1pt solid lightgray; padding: 0.3em; }

dl.command_line_options_list > dt {
  font-family: monospace;
  font-weight: bold;
}

/* Leave default font-family for dt, and default font-weight.
   Use span with command_line_option class inside dt. */
dl.command_line_options_list_custom > dt {
  font-weight: normal;
}
span.command_line_option {
  font-family: monospace;
  font-weight: bold;
}

div.latest_update_description {
  margin-left: 3em;
  border: 1px solid gray;
  padding: 0.5em;
}

pre.vrml_code {
  border: 1px solid #aaaaaa;
  background-color: #f9f9f9;
  padding: 0.3em;
}

pre.bordered_code {
  border: 1px solid #aaaaaa;
  background-color: #f9f9f9;
  padding: 0.3em;
}

pre.vrml_extension_spec { white-space: pre-wrap; }

dl.vrml_ver_differences > dt {
  font-weight: normal;
  font-style: italic;
}

table.program_image_links {
  width: 100%;
}

table.program_image_links_half {
  width: 50%;
}

td.program_image_link img { border: none; }

td.program_image_link {
  background: #e8d59a;
  width: 50%;
  border: 1px solid black;
  text-align: center;
  padding: 0.5em;
}

.program_image_link_title { font-size: larger; }

a.screenshot       img { border: 2pt solid #EEE; }
a.screenshot:hover img { border: 2pt solid #888; }

.table_of_contents a       { text-decoration: none; border-bottom: 1px dotted; }
.table_of_contents a:hover { text-decoration: none; border-bottom: 1px solid;
  background: #FF8;
}

/*.table_of_contents {
  border-top: dotted 1px black;
  border-left: dotted 1px black;
  border-right: solid 2px black;
  border-bottom: solid 2px black;
  background: rgb(240,220,170);
  padding: 0 0.12in;
  margin: 0.5in;
}
*/

div.download {
  display: inline-block;
  background: #fdff8c url(images/download_box_bg.png) no-repeat;
  border: medium outset black;
  padding: 0.5em;
}

.download_title { font-weight: bold; }

div.chm {
  display: inline-block;
  background: #80f8ff;
  font-weight: bold;
  border: medium outset black;
  padding: 0.5em;
}

/* Table like X3D specification, used for multi-texturing clarifications
   on vrml_implementation_texturing.php */
table.specification { border-collapse:collapse; }
table.specification th {
  border-style:groove;
  font-weight:bold;
  border-width:medium;
  padding:8px;
  /* white-space:nowrap; */
}
table.specification td {
  border-style:groove;
  font-weight:normal;
  border-width:medium;
  padding:8px;
  /* white-space:nowrap; */
}

table.layout { margin: 0px; padding: 0px; border: 0px; width: 100%; }
/* Don't set padding/margin here,
   sidebar_column and content_column want different padding/margin. */
td.layout { border: 0px; vertical-align: top; }

div.sidebar {
  margin-left: 0.5em;
  padding: 0.5em;
  font-size: 0.7em;
}

col.sidebar_column {
  width: 15em;
  margin: 0px;
  padding: 0px;
  background: #dddddd url(images/sidebar_bg.png) repeat-y;
}

div.sidebar_title { text-align: center; }
div.sidebar_title h2 { margin-top: 0px; font-size: medium; }

table.nist_test_suite { border-collapse:collapse; border: thin solid #999; }
table.nist_test_suite td { border: thin solid #999; }
table.nist_test_suite th { border: thin solid #999; }
td.pass    { background-color:rgb(50%,100%,50%); }
td.fail    { background-color:rgb(100%,50%,50%); }
td.invalid { background-color:rgb(75%,75%,75%); }
td.testnr  { white-space: nowrap; }

/* view3dscene page stuff */
hr.ruler_between_sections { width: 100%; }
dl.params_list dt  {
  font-weight: normal; font-family: monospace;
  margin-top: 1em;
}

/* index page stuff */
div.main_list_item {
  font-family: serif;
  font-weight: bolder;
  font-size: large;

  background: #ddddd0;

  padding: 0.1em;
}

/* header ------------------------------------------------------------------- */

/* Header colors and image is inspired by WordPress Gears theme,
   http://www.mymobiles.com/wordpress-themes/gear */

div.header {
  background: #353535 url('images/header-pattern.png') repeat-x;
}

.header_title {
  font-size: xx-large; font-weight: bold; color: #EEAD24;
  padding: 0.2em 0.4em 0.8em 0.4em;
}
.header_title a { text-decoration: none; color: #EEAD24; }

.header_menu {
  border-collapse: collapse;
  width: 100%;
}
.header_menu td.higher { color: #666666; }
.header_menu td.higher_left  { text-align: right; padding-right: 0.4em; border-right: thin solid #666; }
.header_menu td.higher_right { text-align: left;  padding-left:  0.4em; border-left:  thin solid #666; }

.header_menu td.lower {
  border-left:  thin solid #666;
  border-right: thin solid #666;
  border-top:   thin solid #666;
  border-bottom: 0px none;
  padding: 0px; /* must be 0, otherwise bg of a:hover will not fill the cell */
}
.header_menu td.lower a       { display: block; text-decoration: none; text-align: center; padding: 0em 0.2em; color: #5EB2E5; }
.header_menu td.lower a:hover { display: block; text-decoration: none; text-align: center; padding: 0em 0.2em; color: black; background: #ddd; }

.header_breadcrumbs {
  color: #666666;
  padding: 0.4em;
}
.header_breadcrumbs a       { color: #5EB2E5; }
.header_breadcrumbs a:hover { color: #39C; }

.header_icon { float: right;
  margin-right: 0.4em;
  margin-top: 0.4em;
}
